* {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: #f0af1b;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    font-size: 30px;
    padding: 50px 50px 50px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 70px;
}

.menu li {
    padding: 0 5px;
}
.menu a:hover{
    color: #f0af1b;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 40px;
    color: white;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.bg-purpose {
    background-image: url("../images/stoNino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.createAnAccount a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 25px 25px 25px 25px;
    border-radius: 100px;
}

.createAnAccount a:hover {
    color: #f0af1b;
}

.slogan {
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
}

.big-slogan {
    font-size: 90px;
}

.small-slogan {
    font-size: 50px;
}

.ticketing {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px 0 15px 0;
    margin-top: 100px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
    font-size: 20px;
    gap: 100px;
}

.book-tickets a {
    text-decoration: none;
    background-color: #f0af1b;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 100px;
}


.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    background-color: #f0af1b;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 52px;
    font-size: 30px;
}

.footer-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.footer-left img {
    max-width: 100px;
    height: auto;
}

.footer-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.footer-right img {
    max-width: 100px;
    height: auto;
}

.from select {
    border: none;
    font-size: 20px;
}

.from {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    border-right: 2px solid grey;
    margin-right: -100px;
    padding-right: 20px;
}

.from img {
    max-width: 30px;
    height: auto;
}

.date {
    border-right: 2px solid grey;
    margin-right: -100px;
    padding-right: 30px;
    margin-left: 30px;
}

.time {
    margin-right: -90px;
}

.date input {
    border: none;
    font-size: 20px;
}

.time input {
    border: none;
    font-size: 20px;
}

.final-footer-title {
    font-size: 50px;
    padding-bottom: 30px;
}
.final-footer {
    background-color: #56aeff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.final-footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.final-footer-left {
    border: black;
    border-style: solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    height: 530px;
    font-size: 25px;
}

.final-footer-right {
    border: black;
    border-style: solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    height: auto;
    font-size: 25px;
}

.for-credits {
    text-align: center;
    color: gray;
    font-size: 25px;
    margin-bottom: 20px;
}

.how-it-works {
    background-color: #56aeff;
    color: white;
}

.how-header {
    background-image: url(../images/wallpaper/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.how-header h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.how-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 50px;
    font-size: 20px;
    gap: 20px;
}

.bus-booking-content {
    margin-right: 267px;
    margin-left: 267px;
    border: solid;
    border-color: white;
    padding: 30px 300px 30px 70px;
    border-radius: 15px;
}

.bus-booking-content summary:hover {
    color: #f0af1b;
}

.how-ticketing-content {
    margin-right: 267px;
    margin-left: 267px;
    border: solid;
    border-color: white;
    padding: 30px 70px 30px 70px;
    border-radius: 15px;
}

.how-ticketing-content summary:hover {
    color: #f0af1b;
}

.how-payment-content {
    margin-right: 267px;
    margin-left: 267px;
    border: solid;
    border-color: white;
    padding: 30px 70px 30px 70px;
    border-radius: 15px;
}

.how-payment-content summary:hover {
    color: #f0af1b;
}

.how-check-in-content {
    margin-right: 267px;
    margin-left: 267px;
    border: solid;
    border-color: white;
    padding: 30px 70px 30px 70px;
    border-radius: 15px;
}

.how-check-in-content summary:hover {
    color: #f0af1b;
}

.how-footer {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: small;
}

