* {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #56aeff
   }

.header h1{
font-size: 90px;
background-image: url(./wallpaper/1.jpeg); 
background-repeat: no-repeat ;
background-size: cover;
text-align: center;
color: white;
padding: 200px;
background-color: #56aeff;
border-radius: 80px;
height: 40px;
background-position: center center;

}

.button-upper-part  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 100px;
    color: moccasin;
    border: transparent;
    font-size: 30px;
}

.button-lower-part {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;  
    color:  moccasin;
  margin-left: 100px;
  border: transparent;
  font-size: 30px;
}

.button1 button{
    background-color: #56aeff;
    width: 330px;
    height: 40px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: -30px;
  color: white;
  background-image: url(./wallpaper/3.png);
  background-repeat: no-repeat ;
  margin-left: 60px;
  border: transparent;
  font-size: 25px;
 
}
.button2 button{
    background-color:#56aeff;
    width: 400px;
    height: 40px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-right: -40px;
    color: white;
    background-image: url(./wallpaper/3.png);
    background-repeat: no-repeat ;
    margin-left: 70px;
    border: transparent;
    font-size: 25px;
  
}
.button3 button{
    background-color:#56aeff; 
    width: 250px;
    height: 40px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-right: 80px;
    color: white;
    background-image: url(./wallpaper/3.png);
    background-repeat: no-repeat ;
    margin-left: 80px;
    border: transparent;
    font-size: 25px;
 
}
.button4 button{
    background-color:#56aeff;  
    width: 450px;
    height: 40px;
   margin-left: 20px ;
    margin-right: 100px;
    color: white;
    background-image: url(./wallpaper/3.png);
    background-repeat: no-repeat ;
    margin-left: 80px;
    border: transparent;
    font-size:25px;
  
}
